<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/spots">Spots</a></li>
</ol>

<div class="row">

<%= render :partial=>"layouts/spotItem", locals: {zone: @posts} %>

</div><!--/row-->

<hr>

<p><%= link_to 'New Spot', new_spot_path, :class => "btn btn-success", :role => 'button' %></p>

<%= will_paginate @posts %>


