/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}
#footer {
  margin-top: 30px;
  padding-top: 0;
  padding-bottom: 60px;
  border-top: 1px solid #eee;
  background: #fdfdfd url(bg_gulanyu.jpg) 50% 60%;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#footer .list-unstyled li {
  padding-bottom: 5px;
}
#footer a {
  color: #fff;
}
#footer .sub-title {
  font-size: 1.3em;
  margin-bottom: 20px;
}


.navbar-inverse {
  background: #0e2963;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  color: rgba(255,255,255, .85);
}
.page-desc {
  /*text-align: center;*/
  background: url(bg_gulanyu.jpg) 50% 0% no-repeat;
  padding-top: 30px;
  padding-bottom:30px;
  margin-top: -20px;
}
.page-desc h2,
.page-desc p {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.page-desc h2 {
  font-size: 3em;
}
.page-desc p {
  font-size: 1.5em;
}
.ranking-no {
  display: none;
}
.ranking-list .item {
  /*position: relative;*/
}
.ranking-list .ranking-no {
  display: inline-block;
  /*position: absolute;
  left: 0;
  right: 0;*/
}



/* == pagenation */
.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }




.field {
  margin-bottom: 20px;
}


#sidebar li {
  margin-bottom: 10px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
