<aside class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="list-unstyled">
        <li><a href="#"><img src="http://placehold.it/400x200/f1f1f1/cccccc&text=AD Banner 2" class="img-responsive"></a></li>
        <li><a href="#"><img src="http://placehold.it/400x200/f1f1f1/cccccc&text=AD Banner 3" class="img-responsive"></a></li>
        <li><a href="#"><img src="http://placehold.it/400x120/f1f1f1/cccccc&text=Facebook" class="img-responsive"></a></li>
        <li><a href="#"><img src="http://placehold.it/400x120/f1f1f1/cccccc&text=Twitter" class="img-responsive"></a></li>
        <li><a href="#"><img src="http://placehold.it/400x120/f1f1f1/cccccc&text=Contact Us" class="img-responsive"></a></li>
        <li><a href="#"><img src="http://placehold.it/400x600/f1f1f1/cccccc&text=Recent twitter" class="img-responsive"></a></li>
    </ul>
    
    

</aside><!--/span-->
